{% extends 'admin/master.html' %}
{% from "security/_macros.html" import render_field, render_field_with_errors, render_checkbox_field %}
{% include "security/_messages.html" %}
{% block body %}
    {{ super() }}
    <div class="bg-primary">

        <div class="account-pages">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-pattern shadow-none my-5 pt-5">
                            <div class="card-body">
                                <div class="p-3">
                                    <h4 class="font-18 text-center">Welcome Back !</h4>
                                    <p class="text-muted text-center mb-4">Sign in to continue to Veltrix.</p>
                                    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                                        {{ login_user_form.hidden_tag() }}
                                        {{ render_field_with_errors(login_user_form.email) }}
                                        {{ render_field_with_errors(login_user_form.password) }}
                                        {{ render_checkbox_field(login_user_form.remember) }}
                                        {{ render_field(login_user_form.next) }}
                                        {{ render_field(login_user_form.submit, class="btn btn-primary") }}
                                    </form>

                                </div>

                            </div>
                        </div>
                        <div class="mt-5 text-center text-white-50">
                            <p>Don't have an account ? <a href="{{ url_for('security.register') }}" class="font-500 text-white"> Signup
                                now </a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}