{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} -
        {{ admin_view.admin.name }}{% endblock title %}</title>

    {% block head_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Flask-Admin dashboard login template">
        <meta name="author" content="Jonathan Ars">
    {% endblock head_meta %}

    {% block head_css %}
        <!-- datepicker -->
        {#        <link href="{{ url_for('static',filename='assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">#}

        <!-- jvectormap -->
        <link href="{{ url_for('static',filename='assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css') }}"
              rel="stylesheet">

        <link href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static',filename='assets/css/metismenu.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static',filename='assets/css/icons.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css', v='1.1.1') }}" rel="stylesheet">
        {% if admin_view.extra_css %}
            {% for css_url in admin_view.extra_css %}
                <link href="{{ css_url }}" rel="stylesheet">
            {% endfor %}
        {% endif %}

    {% endblock head_css %}

    {% block head %}
    {% endblock head %}

    {% block head_tail %}
    {% endblock head_tail %}

</head>
<body class="hold-transition skin-blue sidebar-mini">

{% block page_body %}

    <!-- Begin page -->
    <div id="wrapper">

        {% if current_user.is_authenticated %}

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="index.html" class="logo">
                    <span class="logo-light">
                        <img src="{{ url_for('static',filename='assets/images/logo-light.png') }}" alt="" height="16">
                    </span>
                        <span class="logo-sm">
                        <img src="{{ url_for('static',filename='assets/images/logo-sm.png') }}" alt="" height="22">
                    </span>
                    </a>
                </div>

                <nav class="navbar-custom">
                    <ul class="navbar-right list-inline float-right mb-0">
                        <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                            <form role="search" class="app-search">
                                <div class="form-group mb-0">
                                    <input type="text" class="form-control" placeholder="Search..">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </li>

                        <!-- language-->
                        <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#"
                               role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="{{ url_for('static',filename='assets/images/flags/us_flag.jpg') }}"
                                     class="mr-2" height="12" alt=""/> English <span
                                    class="mdi mdi-chevron-down"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right language-switch">
                                <a class="dropdown-item" href="#"><img
                                        src="{{ url_for('static',filename='assets/images/flags/germany_flag.jpg') }}"
                                        alt="" height="16"/><span> German </span></a>
                                <a class="dropdown-item" href="#"><img
                                        src="{{ url_for('static',filename='assets/images/flags/italy_flag.jpg') }}"
                                        alt="" height="16"/><span> Italian </span></a>
                                <a class="dropdown-item" href="#"><img
                                        src="{{ url_for('static',filename='assets/images/flags/french_flag.jpg') }}"
                                        alt="" height="16"/><span> French </span></a>
                                <a class="dropdown-item" href="#"><img
                                        src="{{ url_for('static',filename='assets/images/flags/spain_flag.jpg') }}"
                                        alt="" height="16"/><span> Spanish </span></a>
                                <a class="dropdown-item" href="#"><img
                                        src="{{ url_for('static',filename='assets/images/flags/russia_flag.jpg') }}"
                                        alt="" height="16"/><span> Russian </span></a>
                            </div>
                        </li>

                        <!-- full screen -->
                        <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                            <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                                <i class="ion ion-md-qr-scanner noti-icon"></i>
                            </a>
                        </li>

                        <!-- notification -->
                        <li class="dropdown notification-list list-inline-item">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#"
                               role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="ion ion-md-notifications noti-icon"></i>
                                <span class="badge badge-pill badge-danger noti-icon-badge">3</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                                <!-- item-->
                                <h6 class="dropdown-item-text">
                                    Notifications (258)
                                </h6>
                                <div class="slimscroll notification-item-list">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                        <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span>
                                        </p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-warning"><i class="mdi mdi-message-text-outline"></i>
                                        </div>
                                        <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span>
                                        </p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-glass-cocktail"></i></div>
                                        <p class="notify-details">Your item is shipped<span class="text-muted">It is a long established fact that a reader will</span>
                                        </p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                        <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span>
                                        </p>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="mdi mdi-message-text-outline"></i>
                                        </div>
                                        <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span>
                                        </p>
                                    </a>
                                </div>
                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-all">
                                    View all <i class="fi-arrow-right"></i>
                                </a>
                            </div>
                        </li>

                        <li class="dropdown notification-list list-inline-item">
                            <div class="dropdown notification-list nav-pro-img">
                                <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#"
                                   role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="{{ url_for('static',filename='assets/images/users/user-4.jpg') }}"
                                         alt="user" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <!-- item-->
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-wallet"></i> My Wallet</a>
                                    <a class="dropdown-item d-block" href="#"><span
                                            class="badge badge-success float-right">11</span><i
                                            class="mdi mdi-settings"></i> Settings</a>
                                    <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline"></i> Lock
                                        screen</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="/admin/logout/"><i
                                            class="mdi mdi-power text-danger"></i> Logout</a>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-effect">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </li>
                        <li class="d-none d-sm-block">
                            <div class="dropdown pt-3 d-inline-block">
                                <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Create
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </nav>

            </div>
            <!-- Top Bar End -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                            {% block main_menu %}
                                {{ layout.menu() }}
                            {% endblock %}
                        </ul>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
        {% endif %}

        {% block messages %}
            {{ layout.messages() }}
        {% endblock messages %}

        {# store the jinja2 context for form_rules rendering logic #}
        {% set render_ctx = h.resolve_ctx() %}
        <!-- Start content -->
        {% block body %}

        {% endblock body %}
        <!-- content -->

        {% if current_user.is_authenticated %}
            <footer class="footer">
                © 2019 Veltrix <span class="d-none d-sm-inline-block"> - Crafted with <i
                    class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.
            </footer>
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        {% endif %}

    </div>
    <!-- END wrapper -->

    {% if admin_view.name=="Home" and current_user.is_authenticated %}
        <div class="right-sidebar d-none d-xl-block">
            <div class="slimscroll-menu">
                <div class="px-4 pt-4">
                    <div class="card user-wid text-center overflow-hidden">
                        <div class="p-4 bg-lighten-danger"></div>
                        <div class="mx-3">
                            <div class="bg-white user-wid-content p-1 rounded">
                                <div class="user-img">
                                    <img src="{{ url_for('static',filename='assets/images/users/user-1.jpg') }}"
                                         alt="user-img" title="" class="rounded-circle thumb-md img-fluid">
                                </div>
                                <h5 class="font-14 mb-1"><a href="javascript: void(0);">James Heine</a></h5>
                                <p class="text-muted mb-2"><small>Admin Head</small></p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <h5 class="font-14">Calender</h5>

                        <div class="dashboard-date-pick" id="date-pick-widget" data-provide="datepicker-inline"></div>
                    </div>

                    <div>
                        <h5 class="font-14">Clients</h5>

                        <div id="world-map-markers" class="dashboard-map-wid"></div>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}

{% endblock page_body %}

{% block tail_js %}
    <!-- jQuery 2.2.3 -->
    {#        <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>#}
    <script src="{{ url_for('static',filename='plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    {#    <script src="{{ url_for('static',filename='assets/js/bootstrap.bundle.min.js') }}"></script>#}
    {#        <script src="{{ url_for('static',filename='assets/plugins/select2/js/select2.min.js') }}"></script>#}
    <script src="{{ admin_static.url(filename='vendor/select2/select2.min.js', v='3.5.2') }}"
            type="text/javascript"></script>

    {% if admin_view.extra_js %}
        {% for js_url in admin_view.extra_js %}
            <script src="{{ js_url }}" type="text/javascript"></script>
        {% endfor %}
    {% endif %}

    <!-- jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    {#    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>#}
    {#    <script src="{{ url_for('static',filename='assets/js/bootstrap.bundle.min.js') }}"></script>#}
    {#    <script src="{{ admin_static.url(filename='vendor/select2/select2.min.js', v='3.5.2') }}" type="text/javascript"></script>#}
    <script src="{{ url_for('static',filename='assets/js/metismenu.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/waves.min.js') }}"></script>

    <!-- datepicker -->
    <script src="{{ url_for('static',filename='assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <!-- vector map  -->
    <script src="{{ url_for('static',filename='assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>

    {% if admin_view.name=="Home" %}
        <!-- apexcharts -->
        <script src="{{ url_for('static',filename='assets/plugins/apexcharts/apexcharts.min.js') }}"></script>

        <!-- Peity JS -->
        <script src="{{ url_for('static',filename='assets/plugins/peity-chart/jquery.peity.min.js') }}"></script>

        <script src="{{ url_for('static',filename='assets/pages/dashboard.js') }}"></script>
    {% endif %}

    <!-- App js -->
    <script src="{{ url_for('static',filename='assets/js/app.js') }}"></script>

    <script>
        $("a[title='Create New Record']").on('click', function () {
            $('#fa_modal_window').addClass('show in');
        });
    </script>

{% endblock tail_js %}

{% block tail %}
{% endblock tail %}

</body>
</html>
